<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Article-top.css">
    </head>
    <body>
        <article class="Article-top">
            <img class="Article-top__icon Article-top__icon_baget" src="images/baget.png">
            <img class="Article-top__icon Article-top__icon_myska" src="images/myska.png">
            <img class="Article-top__icon Article-top__icon_carrot" src="images/carrot.png">
            <img class="Article-top__icon Article-top__icon_cheese" src="images/cheese.png">
            <img class="Article-top__icon Article-top__icon_juice" src="images/juice.png">
            <img class="Article-top__icon Article-top__icon_spaghetti" src="images/spaghetti.png">
            <img class="Article-top__icon Article-top__icon_lemonade" src="images/lemonade.png">
            <img class="Article-top__icon Article-top__icon_apple" src="images/apple.png">
            <p class="Article-top__title">I nostri eventi</p>
            <p class="Article-top__text">
                Questo mese hai tanti buoni motivi
                per provare il social eating! Non ti
                resta che provarli tutti.
            </p>
        </article>
    </body>
</html>