<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport">
        <title>Eaty</title>
        <link rel="stylesheet" href="style/Article-middle.css">
        <link rel="stylesheet" href="style/Recipe-card.css">
        <link rel="stylesheet" href="style/Article-middle-title.css">
        <link rel="stylesheet" href="style/Link-Sergii.css">
    </head>
    <body>
        <article class="Article-middle">
            <article class="Article-middle__main">
                <section class="Article-middle__main_title-block Lasciati">
                    <h2 class="Main-title">LASCIATI ISPIRARE</h2>
                    <p class="Article-middle__main_recipe-name">Patate alla brace con buccia</p>
                    <p class="Article-middle__main_description">
                        In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali.
                        Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.
                    </p>
                    <a href="" class="Transition-recipes Link-Sergii">Scopri le altre ricette</a>
                </section>
                <section class="Recipe-card Potato-ricette Recipe-card4">
                    <p class="Recipe-card__title">RICETTE</p>
                    <p class="Recipe-card__text">Prova la nostra ricetta delle patate arrosto al timo!</p>
                </section>
            </article>
            <img src="images/potato.png" class="Article-middle__potato-pic">
        </article>
    </body>
</html>