<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Eaty</title>
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/common.css">
</head>
<body>
    <div class="Layout__wrapper">
        <header class="Layot__navigation">Lorem ipsum dolor sit amet. lorem</header>
        <main class="Layout__events">Lorem ipsum dolor sit amet.</main>
        <aside class="Layout__recipes">Lorem ipsum dolor sit amet.</aside>
        <aside class="Layout__contact-chef">Lorem ipsum dolor sit amet.</aside>
        <footer class="Layout__contacts">Lorem ipsum dolor sit amet.</footer>
    </div>
</body>
</html>