<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Eaty</title>
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/Navigation.css">
</head>
<body>
    <header class="Navigation">
            <a class="Logo" href="#">Eaty</a>
            <nav class="Main-navigation">
                <a class="Main-navigation__item Main-navigation__item_home" href="#">Home</a>
                <a class="Main-navigation__item" href="#">Eventi</a>
                <a class="Main-navigation__item" href="#">Ricette</a>
                <a class="Main-navigation__item" href="#">Chef a domicilio</a>
                <a class="Main-navigation__item" href="#">Contatti</a>
            </nav>
    </header>
</body>
</html>