<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Eaty</title>
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/Recipes.css">
    <link rel="stylesheet" href="style/Recipe-card.css">
    <link rel="stylesheet" href="style/Title-block.css">
    <link rel="stylesheet" href="style/Link.css">
</head>
<body>
    <aside class="Recipes">
        <article class="Recipes__main">
            <section class="Recipes__main_title-block Lasciati">
                <h2 class="Main-title">LASCIATI ISPIRARE</h2>
                <p class="Recipes__main_recipe-name">Patate alla brace con buccia</p>
                <p class="Recipes__main_description">
                    In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali.
                    Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.
                </p>
                <a href="" class="Transition-recipes Link ">Scopri le altre ricette</a>
            </section>
            <section class="Recipe-card Potato-ricette">
                <p class="Recipe-card__recette">RICETTE</p>
                <p class="Recipe-card__dish-name">Prova la nostra ricetta delle patate arrosto al timo!</p>
            </section>
        </article>
        <img src="images/potato.jpg" class="Recipes__potato-pic">
    </aside>
</body>
</html>