.Article-chef {
  width: 1105px;


  &__image {
    background-image: url("../images/chef.png");
    background-size: cover;
    width: 307px;
    height: 549px;
    border: none;
    float: left;
  }

  &__title {
    margin-left: 67px;
    width: 731px;
    float: left;
    padding-top: 150px;
  }
  &__title_main {
    margin: 0;
    width: 549px;
    height: 57px;
    font-family: Aller, sans-serif;
    font-size: 47px;
    text-align: left;
    color: #e5725e;
  }
  &__title_description {
    margin: 0;
    width: 731px;
    height: 37px;
    font-family: HelveticaNeue, sans-serif;
    font-size: 32px;
    text-align: left;
    color: #4a4a4a;

  }

  &__title_additional {
    width: 731px;
    height: 57px;
    font-family: HelveticaNeue, sans-serif;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.2;
    text-align: left;
    color: #4a4a4a;
    margin-top: 16px;
  }

  &__link {
    margin-top: 35px;
  }
}

