.Article-top-mover {
  position: relative;
  top: -80px;
  left: 118px;
}

.Recipe-cards-mover {
  width: 627px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 408px;
  bottom: 239px;
}