.Recipe-card {
  background-image: url("../images/dish.png");
  width: 197px;
  height: 344px;
  position: relative;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}

.Recipe-card__title {
  text-align: center;
  padding-top: 214px;
  font-family: HelveticaNeue, sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.38;
}

.Recipe-card__recette{
  text-align: center;
  padding-top: 214px;
  font-family: HelveticaNeue, sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.38;
}

.Recipe-card__dish-name {
  text-align: center;
  font-family: HelveticaNeue, sans-serif;
  font-size: 18px;
  color: #ffffff;
  padding-left: 3px;
  padding-right: 3px;
  margin: 0;
}

.Recipe-card1 {
  background-image: url("../images/food1.png");
}
.Recipe-card2 {
  background-image: url("../images/food2.png");
}
.Recipe-card3 {
  background-image: url("../images/food3.png");
}

.Recipe-card4 {
  background-image: url("../images/food4.png");
}