.Contacts {
  width: 1170px;
  height: 177px;
  background-color: #4a4a4a;
  display: inline-block;
  margin-left: 135px;
}

.Contacts__additional-info{
  width: 605px;
  height: 53px;
  font-family: HelveticaNeue, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  color: #ffffff;
}

.Contacts__register_action {
  width: 92px;
  height: 27px;
  background-color: #ffffff;
  border: solid 1px #979797;
  display: block;
  text-decoration: none;
  padding-left: 3px;
  padding-top: 4px;
  text-align: center;
  vertical-align: middle;
  font-family: HelveticaNeue, sans-serif;
  font-size: 16px;
  color: #e67a68;
}

.Contacts__additional-info{
  padding-left: 25px;
  display: inline-block;
  padding-top: 28px;
}

.Contacts__copiright_rights-holder {
  display: inline-block;
}
.Contacts__copiright_desiner-inormation{
  display: inline-block;
  float: right;
}

.Contacts__copiright {
  padding-left: 25px;
  margin-top: 21px;
  width: 1122px;
  height: 22px;
  font-family: HelveticaNeue, sans-serif;
  font-size: 12px;
  line-height: 1.83;
  text-align: left;
  color: #ffffff;
}

.Search__input {
  display: inline-block;
  margin-left: 79px;;
  vertical-align: text-bottom;
}

.Search__input_email{
  display: inline-block;
  width: 317px;
  height: 27px;
  border: solid 1px #979797;
  background-color: #4a4a4a;
  margin-right: 5px;
  padding-left: 8px;
  font-family: HelveticaNeue, sans-serif;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
}

.Contacts__register_action {
  display: inline-block;
}